.App {
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header h1 a:hover {
  color: #d12f4a;
  transition: color 0.3s ease;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  width: 90%;
  margin: 0 auto;
}

li {
  padding: 10px 0;
}

nav a {
  color: #6e39d1;
}

nav a:hover {
  text-decoration: none;
}

main a {
  text-decoration: none;
  color: #f83a3a;
}

main a:hover {
  color: #d12f4a;
}

select {
  margin: 1rem auto;
  padding: 5px;
  cursor: pointer;
  background-color: #f6f6f6;
  outline: none;
  border: 1px solid #d87070;
  border-radius: 6px;
  width: 85%;
}

input {
  border: 1px solid #6e39d1;
  border-radius: 6px;
  outline: none;
  padding: 5px;
  font-size: 0.8rem;
}

button {
  margin: 0 0 1rem 0.2rem;
  background-color: #6e39d1;
  border-radius: 6px;
  outline: none;
  padding: 5px;
  color: #f6f6f6;
  cursor: pointer;
  font-size: 0.8rem;
}