.App {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  width: 90%;
  margin: 0 auto;
}

li {
  padding: 10px 0;
}

nav a {
  color: rgb(148, 57, 209);
}

nav a:hover {
  text-decoration: none;
}

main a {
  text-decoration: none;
  color: rgb(209, 47, 74);
}

main a:hover {
  color: pink;
}
