.App {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  width: 90%;
  margin: 0 auto;
}

li {
  padding: 10px 0;
}

nav a {
  color: #6e39d1;
}

nav a:hover {
  text-decoration: none;
}

main a {
  text-decoration: none;
  color: rgb(248, 58, 58);
}

main a:hover {
  color: #d12f4a;
}

select {
  margin: 1rem auto;
  padding: 5px 0;
  cursor: pointer;
  background-color: #f6f6f6;
  outline: none;
  border: 1px solid #d87070;
  border-radius: 8px;
  width: 85%;
}
